.tag-list-container {
    background-color: #fff;
    margin: 12px;
    padding: 12px;
    border-radius: 4px;
    width: 320px;
    box-shadow: 0px 0px 6px #c8c8c8;
}

.tag-item {
    background-color: #333;
    margin: 6px;
    padding: 8px;
    border-radius: 4px; 
    color: #fff;
    font-weight: 300;
}

#close-x {
    text-align: right;
    margin-left: 8px;

}

